body {
    background: #7DCFB6;
    font-family: "Nunito", sans-serif;
}

.pomodoro,
.todo-list-overall,
.form-container,
.userList
.delete {
    color: white;
    font-weight: 1000;

}

.status {
    font-size: 4rem;
}

.pomodoro .timer {
    font-size: 7rem;
}

.pomodoro .btn {
    color: white;
}

#start {
    background: #00B2CA;
}

#stop {
    background: #F79256;
}

#reset {
    color: black;
    background: #FBD1A2;
}

.pomodoro .form-label {
    font-size: 1.5rem;
}

.todo-list-overall,
.form-container {
    width: 50rem;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;

}

form button {
    color: green;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

form button:hover {

    background: green;
    color: white;
}

.todo {
    margin: 0.5rem;
    background: lightyellow;
    color: black;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    align-items: center;
}

.todo li {
    flex: 1;
}

.trash-btn {
    background: #F79256;
    color: white;
    border: none;
}

.complete-btn {
    background: #00B2CA;
    color: white;
    border: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    background: #00B2CA;
    color: white;
    border: none;
}

.todo .fa-trash,
.fa-check {
    pointer-events: none;
}

table {
    color: white;
    border-color: white;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select{
    margin: 1rem;
    position: relative;
    overflow: hidden;

}

select{
    color: green;
    width: 30rem;
    cursor: pointer;
    padding: 1rem;

}

.select::after{
    content: "\25BC";
    position: absolute;
    background: green;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
}

.select::hover::after{
    background: white;
    color: green;
}
