<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="../stylesheets/login.css">
</head>

<body>
  <div class="login_box">
    <div class="photo_box">
      <img class="photo" src="../stylesheets/Images/hocus_focus.jpg" alt="Students Focusing">
    </div>
    <form class="classs1" action="index.html" th:action="@{/pomodoro/login}" th:object="${userLogin}" method="post">
      <div class="lol">
        <h1>Login</h1>
        <div class="textbox">
          <i class="fa fa-user" aria-hidden="true"> </i>
          <input id="username" type="text" th:field=*{name} placeholder="Username" name="" value="">
        </div>
        <div class="textbox">
          <i class="fa fa-lock" aria-hidden="true"> </i>
          <input id='password' type="password" th:field=*{password} placeholder="Password" name="" value="">
        </div>
        <input class="btn" type="submit" name="" value="Log in">
      </div>
    </form>
  </div>

</body>



</html>
